# Built-in Types
---

* The principal built-in types : numerics, sequences, mappings, classes, instances and exceptions
   * Numeric types : `int`, `float`, `complex`
   * Sequence types : `list`, `tuple`, `range`
   * Text sequence type : `str`
   * Binary sequence types : `bytes`, `bytearray`, `memoryview`
   * Set types : `set`, `frozenset`
   * Mapping types : `dict`


## Type별 특성에 대한 용어
---


### Mutability
---

* Mutable : `list`, `dict`, `set`, `bytearray`, `memoryview`
   * Mutable objects can change their value but keep their id().


* Immutable : `numeric`, `str`, `tuple`, `frozenset`, `bytes`
   * An object with a fixed value. Immutable objects include numbers, strings and tuples. Such an object cannot be altered. A new object has to be created if a different value has to be stored. They play an important role in places where a constant hash value is needed, for example as a key in a dictionary.

Mutable은 id가 변하지 않는다.

In [39]:
list_is_mutable = [1, 2]

id(list_is_mutable)

2255122559304

In [40]:
list_is_mutable.append(3)

list_is_mutable

[1, 2, 3]

In [41]:
id(list_is_mutable)

2255122559304

int는 immutable이지만, 511~512 범위의 int는 캐시되어 있어서 id가 변하지 않는다.

In [151]:
a = 3

id(a)

1937599616

In [152]:
b = 3

# a와 같은 id로 나온다.
id(b)

1937599616

In [153]:
c = 1024

id(c)

2255122794000

In [154]:
d = 1024

id(d)

2255122794576

In [155]:
e = 5

id(e)

1937599680

C였다면 아래 셀의 id와 위 셀의 id가 동일했겠지만 Python은 다르게 나온다.

In [157]:
e = 'test'

id(e)

2255085423672

### Iterable
---

* `list`, `str`, `tuple`, `dict`, `set`


* An object capable of returning its members one at a time. Examples of iterables include all sequence types (such as list, str, and tuple) and some non-sequence types like dict, file objects, and objects of any classes you define with an \_\_iter\_\_ method or with a \_\_getitem\_\_ method that implements Sequence semantics.

In [180]:
# str도 iterable이다.
for c in 'str is iterable.':
    print(c)

s
t
r

i
s

i
t
e
r
a
b
l
e
.

같은 type의 iterable끼리는 + 연산으로 concatenate 할 수 있다.

In [4]:
# iterable + iterable = 새로운 iterable
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

### Sequence
---

* `list`, `tuple`, `range`, `str`, `bytes`, `bytearray`, `memoryview`


* An iterable which supports efficient element access using integer indices via the \__getitem\__() special method and defines a \__len\__() method that returns the length of the sequence.
   * Sequence types hold values in an indexable and sliceable order. (순서가 있다. = Indexing과 slicing이 가능하다.)

In [4]:
s = 'str is a sequence type.'

s[:10]

'str is a s'

In [13]:
r = range(10)

r[5:]

range(5, 10)

갑자기 indexing 또는 slicing 했을 때 id가 어떻게 나올 지 궁금해져서 immutable sequence인 str type으로 테스트해봤다.

In [127]:
t = 'abcdefg'

id(t)

2649942775656

In [128]:
id(t[:])

2649942775656

In [130]:
id(t[0])

2649902542608

In [131]:
id(t[:1])

2649902542608

### Container
---

* Mutable containers : `list`, `dict`, `set`
* Immutable containers : `tuple`, `str`, `frozenset`, `range`


* All container types are iterable.
* Except for str and range types, containers are heterogeneous(여러 다른 종류들로 이뤄진).


* Container sequences : `list`, `tuple`
   * It can hold items of different types.
   * It holds references to the objects they contain.
   
   
* Flat sequences : `str`, `range`, `bytes`, `bytearray`, `memoryview`
   * It can hold items of one type.
   * It physically stores the value of each item within its own memory space, and not as distinct objects.

In [110]:
l = [1, 2, (3, 4), [5, 6, 7], 'container test', {8, 9, 10}]

l

[1, 2, (3, 4), [5, 6, 7], 'container test', {8, 9, 10}]

In [119]:
d = {1:1, 2:2, 'c':(3, 4), 4:[5, 6, 7], 5:'container test', 'f':{8, 9, 10}}

d

{1: 1, 2: 2, 'c': (3, 4), 4: [5, 6, 7], 5: 'container test', 'f': {8, 9, 10}}

### Hashable
---

* Hashable : all of Python’s immutable built-in objects
   * Objects which are instances of user-defined classes are hashable by default.They all compare unequal (except with themselves), and their hash value is derived from their id().
   
   
* Unhashable : mutable containers (such as lists or dictionaries)


* An object is hashable if it has a hash value which never changes during its lifetime (it needs a \__hash\__() method), and can be compared to other objects (it needs an \__eq\__() method). Hashable objects which compare equal must have the same hash value.


* Hashability makes an object usable as a dictionary key and a set member, because these data structures use the hash value internally.

In [172]:
a = {1, 2, 3}

# [Error] list는 unhashable이라 set에 넣을 수 없다.
a.add([4, 5])

TypeError: unhashable type: 'list'

In [173]:
# tuple은 hashble이라 set에 넣을 수 있다.
a.add((4, 5))

a

{(4, 5), 1, 2, 3}

## List
---

* Mutable, sequence, iterable, container

In [97]:
# 초기화 : type 방식
a = list()

type(a)

list

In [146]:
# Shift + Tab 눌러서 Docstring 두 번째 줄을 보면,
# list(iterable) -> new list initialized from iterable's items
# type 방식으로 초기화할 때 iterable's items를 사용할 수 있다고 되어 있다.
b = list('list init test')

b

['l', 'i', 's', 't', ' ', 'i', 'n', 'i', 't', ' ', 't', 'e', 's', 't']

In [25]:
# 초기화 : literal 방식
l = [1, 2, 3, 4]

type(l)

list

list에 요소 추가하기

In [26]:
l.insert(0, 'list')

l

['list', 1, 2, 3, 4]

In [27]:
l.append(5)

l

['list', 1, 2, 3, 4, 5]

In [28]:
# ['list', 1, 2, 3, 4, 5, 6, 7, 8]의 결과를 원했는데?
l.append([6, 7, 8])

l

['list', 1, 2, 3, 4, 5, [6, 7, 8]]

In [29]:
# Iterable을 인자로 받는 extend
l.extend([6, 7, 8])

l

['list', 1, 2, 3, 4, 5, [6, 7, 8], 6, 7, 8]

In [30]:
# list가 아닌 다른 iterable도 되나?
l.extend('abc')

l

['list', 1, 2, 3, 4, 5, [6, 7, 8], 6, 7, 8, 'a', 'b', 'c']

In [34]:
l = [1, 2, 3, 4, 5, 3, 3, 3]

# 인자로 넣은 값이 첫 번째로 등장할 때 해당 값을 list에서 지운다.
l.remove(3)

l

[1, 2, 4, 5, 3, 3, 3]

## Tuple
---

* Immutable, sequence, iterable, container

In [94]:
# 초기화 : type 방식
a = tuple()

type(a)

tuple

In [95]:
# 초기화 : literal 방식
b = ()

type(b)

tuple

In [47]:
# 흔히 범하는 실수
a = (1)

type(a)

int

In [48]:
# 쉼표 꼭 찍어줘야 한다.
b = (1, )

type(b)

tuple

list가 있는데 왜 tuple을 사용할까? Immutable이 mutable보다 속도가 더 빠르기 때문!

In [23]:
t = tuple(range(100000))

type(t)

tuple

In [19]:
%%timeit
for i in t:
    pass

1000 loops, best of 3: 624 µs per loop

In [24]:
l = list(range(100000))

type(l)

list

In [22]:
%%timeit
for i in l:
    pass

1000 loops, best of 3: 635 µs per loop

### Tuple Packing
---

* 소괄호를 생략해도 값들이 묶여서(values are packed together) tuple이 된다.

In [49]:
c = 1,

type(c)

tuple

In [50]:
d = 1, 2, 3, 4, 5

type(d)

tuple

In [51]:
d

(1, 2, 3, 4, 5)

### Sequence Unpacking
---

* The reverse operation of tuple packing.
* Sequence unpacking requires that there are as many variables on the left side of the equals sign as there are elements in the sequence.
* Multiple assignment is really just a combination of tuple packing and sequence unpacking.

In [72]:
a, b, c = 1, 2, 3
# a, b, c = 1, 2, (3, )
# a, b, c = 1, 2, [3, 4]

In [73]:
type(a)

int

In [74]:
type(b)

int

In [75]:
type(c)

int

In [59]:
# [Error] 할당 연산자 왼쪽의 변수 개수와 오른쪽의 값(요소) 개수가 같지 않을 경우
a, b, c = 1, 2
# a, b, c = 1, 2, 3, 4

ValueError: not enough values to unpack (expected 3, got 2)

*을 사용하면 유동적인 packing, unpacking이 가능하다.

In [76]:
# 첫 요소만 a에 pack, 나머지 전부를 b에 pack
a, *b = 1, 2, 3, 4, 5

In [77]:
a

1

In [78]:
b

[2, 3, 4, 5]

In [79]:
# 마지막 요소만 b에 pack, 나머지 전부를 a에 pack
*a, b = 1, 2, 3, 4, 5

In [80]:
a

[1, 2, 3, 4]

In [81]:
b

5

In [24]:
# 첫 요소를 a에, 마지막 요소를 c에, 나머지 전부를 b에 pack
a, *b, c = 1, 2, 3, 4, 5

In [84]:
a

1

In [85]:
b

[2, 3, 4]

In [86]:
c

5

C에서는 temp 변수 만들어서 해야 했던 swapping arguments가 Python에서는 이렇게 간단하다.

In [87]:
a = 5
b = 10

'''
temp = a
a = b
b = temp
'''

a, b = b, c

In [88]:
a

10

In [89]:
b

5

## Set
---

* Mutable, iterable, container


* A set object is an unordered collection of distinct hashable objects.

In [ ]:
a = set()

In [178]:
# literal 방식으로 빈 set을 초기화할 수 없다.
b = {}

type(b)

dict

In [192]:
# 요소를 넣으면 가능하다.
b = {1, 2, 3}

type(b)

set

## Frozenset
---

* Immutable, iterable, container, hashable


* It can be used as a dictionary key or as an element of another set.

In [218]:
# [Error] set은 set에 넣을 수 없지만,
a = {1, 2, 3}
b = {a, 4, 5, 6}

TypeError: unhashable type: 'set'

In [234]:
# frozenset은 set에 넣을 수 있다.
# 왜? hashable/unhashable
a = frozenset((1, 2, 3))
b = {a, 4, 5, 6}

b

{frozenset({1, 2, 3}), 4, 5, 6}

## Dictionary
---

* Mapping type (key and value)
* Keys must be of immutable types.

In [223]:
d = {1: 'aaa', 2: 'bbb', 3: 'ccc', 4: 'ddd', 5: 'eee'}

d.items()

dict_items([(1, 'aaa'), (2, 'bbb'), (3, 'ccc'), (4, 'ddd'), (5, 'eee')])

In [224]:
d.keys()

dict_keys([1, 2, 3, 4, 5])

In [225]:
d.values()

dict_values(['aaa', 'bbb', 'ccc', 'ddd', 'eee'])

## String
---

Python reads program text as **Unicode code points**; the encoding of a source file can be given by an encoding declaration and defaults to **UTF-8**, see [PEP 3120](https://www.python.org/dev/peps/pep-3120/) for details.


* The str type holds Unicode characters.
* The bytes type holds bytes.
* By default, encoding and decoding between str and bytes is based on UTF-8.


### Encoding declarations
---

If a comment in the first or second line of the Python script matches the regular expression `coding[=:]\s*([-\w.]+)`, this comment is processed as an encoding declaration; the first group of this expression names the encoding of the source code file. The encoding declaration must appear on a line of its own. If it is the second line, the first line must also be a comment-only line. The recommended forms of an encoding expression are


```# -*- coding: <encoding-name> -*-```


which is recognized also by GNU Emacs, and


```# vim:fileencoding=<encoding-name>```


which is recognized by Bram Moolenaar’s VIM.

In [97]:
a = str()

type(a)

str

In [98]:
b = ''

type(b)

str

In [99]:
c = ""

type(c)

str

In [33]:
d = """문자열 내에서
줄바꿈
허용"""

type(d)

str

In [34]:
d

'문자열 내에서\n줄바꿈\n허용'

In [35]:
print(d)

문자열 내에서
줄바꿈
허용

In [65]:
e = '이렇게도 \
줄바꿈 \
가능? \
연결은 되지만 실제로 개행이 들어가는 것은 아님!'

type(e)

str

In [66]:
e

'이렇게도 줄바꿈 가능? 연결은 되지만 실제로 개행이 들어가는 것은 아님!'

In [67]:
print(e)

이렇게도 줄바꿈 가능? 연결은 되지만 실제로 개행이 들어가는 것은 아님!

* String prefix에 따른 몇 가지 string literals
   * Bytes literals : `b''`, `B''`
      * They produce an instance of the bytes type instead of the str type.
   * Raw strings : `r''`, `R''`
      * They treat backslashes as literal characters.
   * Formatted string literal (f-string) : `f''`, `F''`
      * These strings may contain replacement fields, which are expressions delimited by curly braces {}. While other string literals always have a constant value, formatted strings are really expressions evaluated at run time.

In [52]:
b = b'It is not the str type but the bytes type.'

type(b)

bytes

In [53]:
b

b'It is not the str type but the bytes type.'

In [38]:
r = r'Backslash(\)를 literal character로 다룸으로써 \n, \t 등 escape characters를 허용하지 않는다.'

r

'Backslash(\\)를 literal character로 다룸으로써 \\n, \\t 등 escape characters를 허용하지 않는다.'

In [41]:
print(r)

Backslash(\)를 literal character로 다룸으로써 \n, \t 등 escape characters를 허용하지 않는다.

In [202]:
a = 1
b = '. It is a expression evaluated at run time.'
f = f'a is {a}{b}'

f

'a is 1. It is a expression evaluated at run time.'

## Casting
---

* Explicit type conversions

In [235]:
int('522')

522

In [236]:
str(522)

'522'

In [237]:
str([522])

'[522]'

In [245]:
list((5, 2, 2))

[5, 2, 2]

In [246]:
list('522')

['5', '2', '2']

In [242]:
set((5, 2, 2))

{2, 5}